html {
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-align: center;
    margin: 1em 0 2em;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 1em;
    text-align: center;
}

.container {
    max-width: 960px;
}

.instructions {
    margin-bottom: 3em;
}

.instructions p {
    text-align: left;
}

form {
    max-width: 600px;
    margin: auto;
    margin-bottom: 2em;
    text-align: left;
}

.substitution-form {
    margin-top: 5em;
}

form label.required {
    font-weight: bold;
}

.form-actions {
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
}

form .errorlist {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.registration_complete,
.registration_closed {
    text-align: center;
}

.alert {
    text-align: left;
}

form .legal-note {
    margin-top: 3em;
    font-style: italic;
    color: #6c757d;
    font-size: 80%;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 4px;
}

.form-group ul {
    list-style-type: none;
    padding-left: 1rem;
}