{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">

        <div class="row header">
            <div class="col">
                <a href="https://www.skolanapohodu.cz/" class="header__logo"><img src="{% static 'img/logo.png' %}" alt="Škola Na Pohodu"></a>
            </div>
        </div>

        <div class="row">

            <div class="col registration_complete">
                {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-{{ m.tags }}">
                            {{ m }}
                        </div>
                    {% endfor %}
                {% endif %}

                <h1>Děkujeme za registraci</h1>

                <p>
                    Ve Vašem e-mailu by jste měli mít potvrzení o registraci k zápisům. Budeme se na Vás těšit.
                </p>

                <p>
                    <a href="https://www.skolanapohodu.cz/" class="btn btn-success">Návrat na domovskou stránku školy</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
