{% extends "base.html" %}
{% load static %}


{% block title %}Škola Na Pohodu - registrace k zápisu byla ukončena{% endblock title %}


{% block content %}
    <div class="container">

        <div class="row header">
            <div class="col">
                <a href="https://www.skolanapohodu.cz/" class="header__logo"><img src="{% static 'img/logo.png' %}" alt="Škola Na Pohodu"></a>
            </div>
        </div>

        <div class="row">

            <div class="col registration_closed">
                {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-{{ m.tags }}">
                            {{ m }}
                        </div>
                    {% endfor %}
                {% endif %}

                <h1>Registrace k zápisu již byla ukončena</h1>

                <p>
                    Litujeme, ale v tuto chvíli již <strong>nemáme další volná místa</strong>.{% if "kontakt-odeslan" not in request.GET %} Můžete zde zanechat kontaktní údaje v případě, že chcete být evidováni jako náhradníci.{% endif %}
                </p>

                <p>
                    <a href="https://www.skolanapohodu.cz/" class="btn btn-success">Návrat na domovskou stránku školy</a>
                </p>

                {% if "kontakt-odeslan" not in request.GET %}
                    <form action="" method="POST" class="substitution-form" novalidate onsubmit="form_submit_btn.disabled = true; return true;">

                        <h2>Kontaktní údaje do evidence náhradníků</h2>

                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            {% for err in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ err }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% for field in form %}
                            {% include "snippets/form_field.html" with field=field %}
                        {% endfor %}

                        <p class="legal-note">
                            Vámi uvedené osobní údaje budou využity výhradně k reakci na Vámi poptávanou službu. Více informací o zpracování osobních údajů ZŠ Na Pohodu naleznete v <a href="https://www.skolanapohodu.cz/osobni-udaje/" target="_blank">Zásady pro ochranu osobních údajů</a>.
                        </p>

                        <div class="row form-actions">
                            <div class="col">
                                <button type="submit" name="form_submit_btn" class="btn btn-primary">Odeslat</button>
                            </div>
                        </div>

                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
