{% extends "base.html" %}
{% load static %}


{% block title %}Škola Na Pohodu - registrace k zápisu pro školní rok {{ school_year }}{% endblock title %}


{% block content %}
    <div class="container">

        <div class="row header">
            <div class="col">
                <a href="https://www.skolanapohodu.cz/" class="header__logo"><img src="{% static 'img/logo.png' %}" alt="Škola Na Pohodu"></a>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <h1>Registrace k zápisu pro školní rok {{ school_year }}</h1>

                <div class="instructions">
                    <p>
                        K zápisu je potřebné se zaregistrovat prostřednictvím tohoto formuláře, kde si zvolíte jeden z dostupných termínů. Po odeslání formuláře Vám bude přiděleno identifikační číslo, které obdržíte i na Vámi uvedenou e-mailovou adresu.
                    </p>
                </div>

                <form action="" method="POST" class="registration-form" novalidate onsubmit="form_submit_btn.disabled = true; return true;">

                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for err in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ err }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
                        {% include "snippets/form_field.html" with field=field %}
                    {% endfor %}

                    <div class="row form-actions">
                        <div class="col">
                            <button type="submit" name="form_submit_btn" class="btn btn-primary">Odeslat</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}
